@media screen and (max-width: 767px) {

    #nav-icon2 {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        align-items: center;
        position: relative;
    }

    #nav-icon2 span {
        display: block;
        width: 100%;
        height: 2px;
        background: #555;
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
    }

    #nav-icon2 span:nth-child(1),
    #nav-icon2 span:nth-child(3) {
        transition: transform 0.3s ease-out;
    }

    #nav-icon2 span:nth-child(1) {
        transform: translateY(7px);
    }

    #nav-icon2 span:nth-child(3) {
        transform: translateY(-7px);
    }

    #nav-icon2.open span:nth-child(1) {
        transform: translate(0) rotate(135deg);
    }

    #nav-icon2.open span:nth-child(2) {
        opacity: 0;
        transition: opacity 0s ease-out;
    }

    #nav-icon2.open span:nth-child(3) {
        transform: translate(0) rotate(-135deg);
    }

    .open {
        transform: translate(0%);
    }
    
    .menuPhone {
        display: none;
        position: fixed;
        top: 15%;
        left: -100%;
        /* le menu Masque à gauche */
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-color: white;
        z-index: 999;
        margin: 1px;
        transition: left 0.3s;
    }

    .menuPhone.open {
        left: 0;
        /* Affichage du menu centré */
    }

    /* MENU PHONE RESPONSIVE plus Donateur & Areabutton RESPONSIVE */
}