@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Fjalla+One&family=Poppins:wght@600&display=swap');

body {
    /* background-color: red; */
}
.navbarpetit{
    /* background-color: red; */
}

nav {
    /* border-bottom: 1px solid #2222; */
    position: relative;
    top: -5px;
    background: #fff;

}

nav ul li {
    margin: 0 38px 0 38px;
    font-family: 'Caveat', cursive;
    font-family: 'Fjalla One', sans-serif;
    /* font-weight: 300; */
    /* font-family: 'Poppins', sans-serif; */
    padding: 15px 0 15px 0;

}


nav .espace {
    background-color: #35b5ff;
}

nav .espace2 {
    background-color: #ff9248;
    padding-right: 10px;
}

nav ul li.don a {
    color: #fff;

}

nav a .logo {
    height: 50px;
    width: 80px;
}
.p-home{
    padding-top: 150px;
}

.text-info {
    color: red;
}